*{
  font-family: 'League Spartan', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  /* color: white; */
}

body{
  background-color:  hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);

}
button{
  color: inherit;
}
.container{
  margin: 40px auto;
  max-width: 490px;
  min-width: 375px;
}
.escolha{
  display: block;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 30px;
}
.geral-tema{
  display: flex;
 align-items: flex-end;
 justify-content: space-between;
 width: 120px;
}
#numers{font-size: 20px;}
.calc{
  font-size: 32px;
}

.opcoes-temas{
   width: 55px;
}
.num{
  display: flex;
  justify-content: space-between;
  margin: 0px 6px;
  font-size: 14px;
  margin-bottom: 3px; 
  cursor: pointer;
}
.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 4px 3px;
  background-color: #1E0836;
}

#btn{
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  cursor: pointer;
  background: transparent;
}
.btns #btn:first-child{
  background-color: #04DCCB;
}

.tela{
  border-radius: 10px;
  margin-bottom: 20px;
}
.bg-tela{
  background-color: hsl(268, 71%, 12%);
}

 .valor-input {
  display: block;
  font-size: 50px;
  padding: 30px 30px;
  text-align: right;
  overflow-y: hidden;
}

.teclas-item{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;
  border-radius: 8px;
  gap: 10px;
}
.buttons-bg{
  background-color:#1E0836 ;

}
.teclas-item .tecla{
  font-size: 30px;
  border-radius: 8px;
  border: none;
  padding: 12px;

}
.tecla{
  background-color: #331B4D;
  box-shadow: 0 5px 0px 0px #831F9B; 
}
.del{
  background-color:#56077C ;
  color: white;
}
.reset{
  grid-column: 1/3;
  background-color:#56077C ;
  color: white;
}
.igual{
  grid-column: 3/-1;
  background-color: #00DECF;
  box-shadow: 0 5px 0px 0px #6CFAF1;
  color: #000;
}




/* MUDANCA DE TEMA */

/*  TEMA DARK */
.bg-dark-1{
 background-color:  #17062A;
}
.bg-dark-2{
background-color: #1E0836;
}
.bg-dark-3{
   background-color: #331B4D;
   color: #FFE439;
   box-shadow: 0 5px 0px 0px #802199; 
}
.bg-dark-4{
  background-color: #56077C;
  color: white;
}
.bg-dark-green{
  background-color:#00DECF ;
  color: #000;
  box-shadow: 0 5px 0px 0px #71F7EF; 
}
.color-dark-1{
   color: #FFE439;
}

.bg-gray-1{
  background-color: #3B4664;
}
.bg-gray-2{
  background-color: #181F32;
  color: #FDFDFE;

}
.bg-gray-3{
  background-color: #252D44;
}
.bg-gray-4{
  background-color: #EAE3DB;
  color: #454B57;
  box-shadow: 0 4px hsl(28deg, 16%, 65%);
}
.color-gray-1{
   color: #FDFDFE;
}
.bg-gray{
  background-color: #647299;
  color: white;
  box-shadow: 0 4px #364160;
}
.bg-gray-red{
  background-color: #D13F30;
  color: white;
  box-shadow: 0 4px #622A2D;
}


.bg-ligth-1{
  background-color:#E6E6E6 ;
}
.bg-ligth-2{
  background-color: #EEEEEE;
  color: #494842;
}
.bg-ligth-3{
  background-color: #D3CDCD;
}
.bg-ligth-4{
  background-color: #E5E4E0;
  box-shadow: 0 4px hsl(28deg, 16%, 65%);
  color:#35342F ;
}
.color-ligth-1{
  color: #494842;
}
.bg-ligth-green{
  background-color: #388187;
  color: white;
  box-shadow: 0 4px #235C65;

}
.bg-ligth-orage{
  background-color: #C85401;
  color: white;
  box-shadow: 0 4px #833B08;
}

